/* Bootstrap CSS */
@import url("base/reset.css");
@import url("vendors/bootstrap.css");

.marko-title {
    font-family: Rage;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    color: rgb(0, 0, 0);
}
