.home-title {
  font-family: Rage;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  text-align: left;
  color: rgb(0, 0, 0);
}

.contact-heading{
  font-family: Lobster;
}

.cat-font {
  font-family: Verdana,"Lucida Sans Unicode", sans-serif;
  font-size: 16px;
  text-align: left;
  color: rgb(100, 100, 100);
  text-shadow: 2px 2px 20px #000000;
}
